
.container{
  position: relative;
}
.container #resetbtn{
  color: #9f6363;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}
.container #resetbtn:hover{
  color: #a70505;
}
.loginCard{
  border: 1px solid #000;
  border-radius: 4px;
  max-width: 500px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  padding-bottom: 52px;
}
h2{
    font-size: 20px;
}

@media (min-width:320px) and (max-width:380px){
  label.form-check-label {
    font-size: 12px;
    }
.container #resetbtn{
  font-size: 12px;
    }
}
