
.container{
  position: relative;
}
.container #resetbtn{
  min-width: 32%;
  padding: 12px;
  cursor: pointer;
}
.loginCard{
  border: 1px solid #000;
  border-radius: 4px;
  max-width: 500px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  padding-bottom: 52px;
}
h2{
   
    font-size: 20px;
}

