<div class="container-fluid navwrapper">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand text-info" routerLink="/">Snapchat</a>
       
        <div class="links">
            <span>
              <a *ngIf="!(user|async)?.uid" routerLink="/login" (click)="login()">Login</a>
            </span>
            <span>
              <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
            </span>
            <span>
              <span id="userEmail" *ngIf="(user|async)?.uid">Hello <span id="online"> {{userName}}</span> </span> 
            </span>
           
            <span>
              <a *ngIf="(user|async)?.uid"  (click)="logout()">Logout</a>
            </span>
        
            <span class="fa fa-user display" (click)="showusers()" ></span>
            <ul *ngIf="ulshow" class=" list-group userlist">
             <li class="peoplelist bg-success text-white list-group-item list-group-item-action" *ngFor="let people of users">{{people.displayName}}</li>
            </ul>
        </div>

      </nav>

  <!-- <div class="navBar">
    
    <div id="heading"><a routerLink="/">Snapchat</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/login" (click)="login()">Login</a>
    </span>
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">Hello <span id="online"> {{userName}}</span> </span> 
    </span>
   
    <span>
      <a *ngIf="(user|async)?.uid"  (click)="logout()">Logout</a>
    </span>

    <span class="fa fa-cog display" (click)="showusers()" ></span>
    <ul *ngIf="ulshow" class="userlist">
     <li *ngFor="let people of users">{{people.displayName}}</li>
    </ul>
  </div>
</div> -->

</div>
