/* .mainContent{
    display: flex;
} */

.pd0{
    padding: 0 !important;
}
.userListWrapper {
    background-color: #2A2845;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    /* padding:20px 0px 40px 30px; */
    border-right: 1px solid #222;
    height: calc(100vh - 105px);
    overflow-y: auto;
    width: 90% !important;
}

.feedWrapper {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}


@media (min-width:320px) and (max-width:575px){
    .userListWrapper {
        display: none;
        background-color: #2A2845;
        color: #fff;
        /* display: flex; */
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        width: 130px;
        order: 1;
        padding:0px 0px 0px 0px;
        border-right: 1px solid #222;
    }
    
    .feedWrapper{
        background-color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
       
        flex: 5;
        order: 2;
        overflow-y: scroll;
        padding: 10px;
    }
}
